body{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    /* font-weight: 900; */
	text-align: center;
}

body {
    background-color: white;
}

.page {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: auto;
    color: #898989;
}

.header {
    background-color: #0F6CB6;
    color: white;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    text-align: center;
}

.header span b {
    font-size: 1.5em;
}


.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 1%;
    padding-left: 1%;
}

.pure-g h3 {
    color: #0F6CB6;
}

.small-font {
    font-size: 14px;
}

.pure-u-1-4 table {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    height: 500px;
}
.pure-u-1-4 table td {
    padding: 1%;
    width: max-content;
    color: #0F6CB6;
}

.pure-u-1-4 table td span {
    color: #898989;
    font-size: 0.85em;
}

.pure-u-1-4 table td ion-icon{
    font-size: 2em;
}

.footer {
    background-color: #0F6CB6;
    color: white;
    padding-left: 2%;
}